test/*
!test/*.py
test/test*.py
*.pyc
bin/*
Tracking
run2018/*
!run2018/*.py
!run2018/README.md
!run2018/*.txt
!run2018/*.sh
!run2018/macro/
run2018/macro/*
!run2018/macro/*.C
!run2018/crab
run2018/crab/*
!run2018/crab/*.py
